@model FinalProject.Models.BillListClassModel
@*

*@
@{
}
<style>
    * {
        box-sizing: border-box;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 100%;
        padding: 1.5em;
        margin-top: 0.5em;
    }

    .links {
        margin-top: 15px;
    }

    body {
        background-color: #f5f5f5;
        color: white;
        font-family: 'Radio Canada', sans-serif;
    }

    .logo {
        text-align: center;
        font-size: 3em;
        color: #007da4;
    }

        .logo span {
            color: #fbb03b;
        }

    .table-wrapper {
        box-shadow: 0 0 20px rgb(126 197 250);
        margin-top: 1.2em;
        display: grid;
        grid-template-columns: 1fr;
    }

        .table-wrapper > * {
            padding: 2em;
        }

    .customer-table {
        background-color: #999999;
    }

    .customer-form {
        background-color: #4d4d4d;
    }

        .customer-form form .form-item {
            margin: 0;
            padding: 1em;
        }

        .customer-form form button,
        .customer-form form input {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;
        }

    .customer-table table,
    .customer-table table a i {
        color: white;
    }

    .customer-form form .button input {
        background-color: #FFC366;
        border-bottom: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .form-item {
        margin: 1em;
    }

    .customer-form form {
        display: grid;
        grid-template-columns: 1fr;
    }

        .customer-form form .button input:hover,
        .customer-form form .button input:hover {
            background-color: #fbb03b;
            transition: 0.3s;
            outline: 0;
        }
</style>

<div class="content">
    <h1 class="logo"> Bills and more <span> Bills...</span> </h1>
    <div class="table-wrapper">
        <div class="customer-form">
            <h3> Edit your Bill</h3>
            <form action="" method="post">
                <div class="form-item">
                    <label for="Id"> Id Bill</label>
                    <input type="text" name="Bill.Id" id="Id" value="@Model.Bill.Id" readonly="readonly" />
                </div>
                <div class="form-item">
                    <label for="Date"> Date</label>
                    <input type="datetime" name="Bill.DatePurchase" value="@Model.Bill.DatePurchase.ToString("MM/dd/yyyy")" readonly="readonly" />
                </div>
                <div class="form-item">
                    <label for="Name" style="width: 100%;"> Customer</label>
                    <input type="text" name="Bill.CustomerName" id="Name" value="@Model.Bill.CustomerName" readonly="readonly" style="width: 30%;" />
                    <input type="text" name="Bill.CustomerId" id="IdCustomer" value="@Model.Bill.CustomerId" readonly="readonly" style="width: 10%;" />
                </div>
                <div class="form-item">
                    @for (int i = 0; i < Model.Bill.BillDetails.Count; i++)
                    {
                        <label style="width: 100%;">Item</label>
                        <select name="Bill.BillDetails[@i].ItemId" style="width: 50%;margin-right: 25%;">
                            <option value="@Model.Bill.BillDetails[i].ItemId">@Model.Bill.BillDetails[i].ItemName</option>
                            @foreach (var item in Model.Items)
                            {
                                @if (item.Id != Model.Bill.BillDetails[i].ItemId)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <input type="number" name="Bill.BillDetails[@i].Amount" style="width: 22%;" value="@Model.Bill.BillDetails[i].Amount" placeholder="Amount" required />
                        <input type="text" name="Bill.BillDetails[@i].Id" value="@Model.Bill.BillDetails[i].Id" hidden="hidden" />
                    }
                </div>
                <div class="form-item button">
                    <input type="submit" name="Add" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>
