@model FinalProject.Models.BillListClassModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    * {
        box-sizing: border-box;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 100%;
        padding: 1.5em;
        margin-top: 0.5em;
    }

    .links {
        margin-top: 15px;
    }

    body {
        background-color: #f5f5f5;
        color: white;
        font-family: 'Radio Canada', sans-serif;
    }

    .logo {
        text-align: center;
        font-size: 3em;
        color: #007da4;
    }

        .logo span {
            color: #fbb03b;
        }

    .table-wrapper {
        box-shadow: 0 0 20px rgb(126 197 250);
        margin-top: 1.2em;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

        .table-wrapper > * {
            padding: 2em;
        }

    .customer-table {
        background-color: #999999;
    }

    .customer-form {
        background-color: #4d4d4d;
    }

        .customer-form form .form-item {
            margin: 0;
            padding: 1em;
        }

        .customer-form form button,
        .customer-form form input {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;
        }

    .customer-table table,
    .customer-table table a i {
        color: white;
    }

    .customer-form form .button input {
        background-color: #FFC366;
        border-bottom: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .form-item {
        margin: 1em;
    }

    .customer-form form {
        display: grid;
        grid-template-columns: 1fr;
    }

        .customer-form form .button input:hover,
        .customer-form form .button input:hover {
            background-color: #fbb03b;
            transition: 0.3s;
            outline: 0;
        }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>

<div class="content">
    <h1 class="logo">Control your <span>Bills</span></h1>
    <div class="table-wrapper">
        <div class="customer-table">
            <h3>Bills List</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bill Id</th>
                        <th>Customer Id</th>
                        <th>Name</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bill in Model.Bills)
                    {
                    <tr>
                        <td>@bill.Id</td>
                        <td>@bill.CustomerId</td>
                        <td>@bill.CustomerName</td>
                        <td>@bill.Total $.</td>
                        <td>@bill.DatePurchase.ToShortDateString()</td>
                        <td><a href="/Bill/Edit/@bill.Id"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="/Bill/Delete/@bill.Id"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="customer-form">
            <h3>Add a new Bill</h3>
            <form action="" method="post">
                <div class="form-check">
                    <label>Customer</label>
                    <select name="Bill.CustomerId" class="form-control">
                        @foreach (var customer in Model.Customers)
                        {
                        @if(Model.Bill.CustomerId!=0 && Model.Bill.CustomerId == customer.Id)
                        {
                        <option value="@customer.Id" selected>@customer.Name</option>
                        }
                        else
                        {
                        <option value="@customer.Id">@customer.Name</option>
                        }
                        }
                    </select>
                </div>
                <div class="form-item">
                    @for (int i=0;i<Model.Bill.BillDetails.Count; i++)
                    {
                    <label style="width: 100%;">Item</label>
                    <select name="Bill.BillDetails[@i].ItemId" style="width: 50%;margin-right: 25%;">
                        <option value="@Model.Bill.BillDetails[i].ItemId">@Model.Bill.BillDetails[i].ItemName</option>
                    </select>
                    <input type="number" name="Bill.BillDetails[@i].Amount" style="width: 22%;" value="@Model.Bill.BillDetails[i].Amount" readonly="readonly" placeholder="Amount" required />
                    }
                    <label style="width: 100%;">Item</label>
                    <select name="BillDetail.ItemId" style="width: 50%;margin-right: 25%;">
                        @foreach (var item in Model.Items)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <input type="number" name="BillDetail.Amount" style="width: 22%;" placeholder="Amount" required />
                    <div class"AddItemMore"></div>
                </div>
                <div class="form-item button">
                    <input type="submit" value="Buy" formaction="@Url.Action("Index","Bill")" />
                    <input type="submit" value="Add Item" formaction="@Url.Action("AddItem","Bill")">
                </div>
            </form>
        </div>
    </div>
</div>
