@model List<FinalProject.Models.ViewModels.CustomerRankViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    * {
        box-sizing: border-box;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 100%;
        padding: 1.5em;
        margin-top: 0.5em;
        grid-template-areas:
            'logo logo'
            'table table'
            'button1 button2';
    }

    .links {
        margin-top: 15px;
    }

    body {
        background-color: #f5f5f5;
        color: white;
        font-family: 'Radio Canada', sans-serif;
    }

    .logo {
        text-align: center;
        font-size: 3em;
        color: #007da4;
        grid-area: logo;
    }

        .logo span {
            color: #fbb03b;
        }

    .table-wrapper {
        box-shadow: 0 0 20px rgb(126 197 250);
        margin-top: 1.2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-area: table;
    }

        .table-wrapper > * {
            padding: 2em;
        }

    .customer-table {
        background-color: #999999
    }

    .customer-form {
        background-color: #999999;
    }

        .customer-form form .form-item {
            margin: 0;
            padding: 1em;
        }

        .customer-form form button,
        .customer-form form input {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;
        }

    .customer-table table,
    .customer-table table a i {
        color: white;
    }

    .customer-form form .button input {
        background-color: #FFC366;
        border-bottom: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .form-item {
        margin: 1em;
    }

    .customer-form form .button input:hover,
    .customer-form form .button input:hover {
        background-color: #fbb03b;
        transition: 0.3s;
        outline: 0;
    }

    .table {
        color: white;
    }

    .button-to {
        padding: 3em;
    }

    .button1 {
        grid-area: button1;
    }

    .button2 {
        grid-area: button2;
        display: flex;
        justify-content: flex-end;
    }
</style>
<form>
<div class="content">
    <h1 class="logo"> Rank<span>ing</span> </h1>
    <div class="table-wrapper">
        <div class="customer-form">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Id</th>
                        <th>Money Spent</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[@i].CustomerName</td>
                            <td>@Model[@i].CustomerId</td>
                            <td>@Model[@i].MoneySpent $</td>
                            <td>@(i+1)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        <div class="button-to button1">
            <input type="submit" class="btn btn-danger" value="Pdf Report" formaction="@Url.Action("ExportPdf","FinalProject")">
        </div>

        <div class="button-to button2">
            <input type="submit" class="btn btn-success" value="Excel Report" formaction="@Url.Action("ExportExcel","FinalProject")">
        </div>
</div>
</form>
